{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <div>채팅 페이지</div>
        <form action="{{url_for('chat')}}" method="POST">
            <p><input type="text" name="send" placeholder="메세지를 입력해주세요."></p>
            <p><input type="submit" value="전송"></p>
        </form>
        
        <br>
        <br>
        <!-- <div>{{ sends }}</div> -->
        {% for send in sends %}
            <div>{{ send }}</div>
        {% endfor %}
    {% endblock %}
</body>
</html>