.page-header{
    padding: 1em;
    background: lightgray;
}

.content-container:after{
    content: '';
    clear: left;
    display: block;
    height: 0;
    visibility: hidden;
}

.content-section{
    float: left;
    padding: 1em;
    font-size: 1rem;
}

.content-section-a{
    background: yellow;
    width: calc(30% - 2em);
}

.content-section-b{
    width: calc(70% - 2em);
    background: pink;
}

.page-footer{
    /* clear: left; */
    padding: 1em;
    background: yellowgreen;
}

.global-menu-link{
    display: block;
    background: white;
    margin-bottom: 5px;
}